<% provide(:title, 'Place your bid') %>
<h1><%= @artifact.title %> by <%= @artifact.user.name %></h1>

<%= image_tag @artifact.sample.url :medium %>
<li>Created by:  <%= link_to @artifact.user.name, @artifact.user %></li>

<% if @artifact.bid_price.nil? %>
    No Bids Recorded yet
<% else %>
    Current Bid: <%= @artifact.bid_price %>
<% end %>
<% if !current_user?(@artifact.user) %>
    <%= form_for(@artifact, :url => "/mybid/#{@artifact.id}") do |f| %>
        <%= f.hidden_field :id %>
        <%= f.label :bid_price %>
        <%= f.text_field :bid_price %>

        <%= f.submit "Place my bid", class: "btn btn-large btn-primary" %>
    <% end %>
<% end %>
