<li class="span4">
  <div class="thumbnail">
    <%= image_tag artifact.sample.url :medium %>
    <div class="caption">
      <h3><%= artifact.title %></h3>
      <p><%= link_to artifact.user.name, user_path(artifact.user) %></p>
      <p class="muted"><%= artifact.comments.count %> <%= 'comment'.pluralize(artifact.comments.count) %></p>
      <p>
        <%= link_to 'View Artifact', artifact_path(artifact), class: 'btn btn-small' %>
        <%= link_to 'Show Bids', bid_path(artifact), class: 'btn btn-small' %>
        <% if signed_in? %>
            <%= form_for(current_user.followings.build(followed_id: artifact.user.id), html: {class: 'form-inline'}) do |f| %>
              <%= f.hidden_field :followed_id %><%= f.submit "Follow", class: "btn btn-small" %>
            <% end %>
        <% end %>
      </p>
    </div>


  </div>
</li>

